@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Roboto+Condensed:400,700|Roboto:300,400,500,700,900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  text-decoration-skip-ink: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: 900;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: #0056b3;
  text-decoration: underline;
}

a:not([href]) {
  color: inherit;
  text-decoration: none;
}
a:not([href]):hover {
  color: inherit;
  text-decoration: none;
}

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

select {
  word-wrap: normal;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
  cursor: pointer;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type=radio],
input[type=checkbox] {
  box-sizing: border-box;
  padding: 0;
}

input[type=date],
input[type=time],
input[type=datetime-local],
input[type=month] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1, .h1 {
  font-size: 2.5rem;
}

h2, .h2 {
  font-size: 2rem;
}

h3, .h3 {
  font-size: 1.75rem;
}

h4, .h4 {
  font-size: 1.5rem;
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.display-1 {
  font-size: 6rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-2 {
  font-size: 5.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-3 {
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-4 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

small,
.small {
  font-size: 80%;
  font-weight: 400;
}

mark,
.mark {
  padding: 0.2em;
  background-color: #fcf8e3;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.list-inline {
  padding-left: 0;
  list-style: none;
}

.list-inline-item {
  display: inline-block;
}
.list-inline-item:not(:last-child) {
  margin-right: 0.5rem;
}

.initialism {
  font-size: 90%;
  text-transform: uppercase;
}

.blockquote {
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.blockquote-footer {
  display: block;
  font-size: 80%;
  color: #6c757d;
}
.blockquote-footer::before {
  content: "— ";
}

.fade {
  transition: opacity 0.15s linear;
}
@media (prefers-reduced-motion: reduce) {
  .fade {
    transition: none;
  }
}
.fade:not(.show) {
  opacity: 0;
}

.collapse:not(.show) {
  display: none;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}
@media (prefers-reduced-motion: reduce) {
  .collapsing {
    transition: none;
  }
}

::selection {
  background: #007bff;
  background: rgba(0, 123, 255, 0.3);
}

::-moz-selection {
  background: #007bff;
  background: rgba(0, 123, 255, 0.3);
}

* {
  -webkit-tap-highlight-color: rgba(0, 123, 255, 0.2);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body.is-blocked, body.is-modal-open, body.is-gradpanel-open, body.lg-on {
  overflow: hidden;
}
body.is-nav-mobile-open {
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

a {
  transition: color 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  color: #007bff;
}
a:hover, a:active, a:focus {
  color: #343a40;
  text-decoration: none;
}

.o-home {
  height: 100vh;
  position: relative;
}
.o-home__bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.o-home__bg-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.o-home__container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  z-index: 2;
}
@media (min-width: 576px) {
  .o-home__container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .o-home__container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .o-home__container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .o-home__container {
    max-width: 1140px;
  }
}
.o-home__row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  align-items: center;
  min-height: 100vh;
}
.o-home__col {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 768px) {
  .o-home__col--left {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
}
@media (min-width: 768px) {
  .o-home__col--right {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
}
.o-home__title {
  font-size: 38px;
  line-height: 1.2;
  font-weight: 400;
  margin-bottom: 16px;
}
.o-home__title--highlight {
  color: #520FAC;
}
.o-home__title--bold {
  font-weight: 700 !important;
}
.o-home__sub {
  font-size: 15px;
  color: #6c757d;
}
.o-home__cta {
  border: 1px solid #520FAC;
  background-color: #520FAC;
  font-weight: 700;
  border-radius: 4px;
  padding: 13px 32px;
  font-size: 14px;
  transition: all 0.5s;
  letter-spacing: 0.6px;
  color: #fff;
  box-shadow: none;
  text-transform: capitalize;
  outline: none;
}
.o-home__image {
  max-width: 100%;
  height: auto;
}

.o-about {
  background: #f8f9fa;
  padding-top: 80px;
  padding-bottom: 80px;
}
.o-about__container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .o-about__container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .o-about__container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .o-about__container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .o-about__container {
    max-width: 1140px;
  }
}
.o-about__row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  box-shadow: 0 0 35px rgba(112, 112, 112, 0.1);
  border-radius: 15px;
  background: #fff;
}
.o-about__col {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 768px) {
  .o-about__col {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (min-width: 992px) {
  .o-about__col {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
}
.o-about__content {
  text-align: center;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}
.o-about__section-title {
  font-size: 14px;
  letter-spacing: 4px;
  color: #520FAC;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.o-about__title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 16px;
}
.o-about__sub {
  font-size: 15px;
  color: #6c757d;
}

.o-integrations {
  padding-top: 80px;
  padding-bottom: 60px;
  background: #fff;
}
.o-integrations__container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .o-integrations__container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .o-integrations__container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .o-integrations__container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .o-integrations__container {
    max-width: 1140px;
  }
}
.o-integrations__row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.o-integrations__title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 16px;
  text-align: center;
}
.o-integrations__sub {
  font-size: 15px;
  color: #6c757d;
  text-align: center;
}
.o-integrations__item {
  max-width: 250px;
}
.o-integrations__item-image {
  max-width: 100%;
  height: auto;
}

.o-testimonials {
  padding-top: 80px;
  padding-bottom: 80px;
  background: #f8f9fa;
}
.o-testimonials__container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .o-testimonials__container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .o-testimonials__container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .o-testimonials__container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .o-testimonials__container {
    max-width: 1140px;
  }
}
.o-testimonials__content {
  text-align: center;
}
.o-testimonials__section-title {
  font-size: 14px;
  letter-spacing: 4px;
  color: #520FAC;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.o-testimonials__title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 16px;
}
.o-testimonials__sub {
  font-size: 15px;
  color: #6c757d;
  margin-bottom: 20px;
}
.o-testimonials__slider {
  margin-top: 40px;
}
.o-testimonials__slider-container {
  margin: 0 auto;
  padding: 0;
  z-index: 1;
  overflow-x: hidden;
  overflow-y: auto;
}
.o-testimonials__slider-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
}
.o-testimonials__slider-item {
  flex: 0 0 351px;
}

.c-about-item {
  padding: 30px;
  text-align: center;
}
.c-about-item__title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 16px;
}
.c-about-item__sub {
  font-size: 15px;
  color: #6c757d;
  margin-bottom: 16px;
}
.c-about-item__cta {
  font-size: 15px;
  font-weight: 700;
  color: #520FAC;
}

.c-testimonial {
  background: #fff;
  padding: 20px;
}
.c-testimonial__icon svg {
  width: 40px;
  height: 40px;
  transform: rotate(180deg);
  fill: #520FAC;
  margin-left: -7px;
  margin-bottom: 10px;
}
.c-testimonial__quote {
  font-size: 15px;
  color: #6c757d;
  margin-bottom: 16px;
}
.c-testimonial__client-name {
  font-size: 16px;
  font-weight: 700;
}
.c-testimonial__client-company {
  font-size: 14px;
}
.c-testimonial__client-properties {
  font-size: 13px;
  color: #6c757d;
}

.u-clearfix:after {
  content: "" !important;
  display: block !important;
  clear: both !important;
}

.u-text-upper {
  text-transform: uppercase !important;
}

.u-text-right {
  text-align: right !important;
}

.u-text-left {
  text-align: left !important;
}

.u-color-dark {
  color: #212529 !important;
}

.u-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.u-justify-start {
  justify-content: flex-start;
}

.u-col {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 992px) {
  .u-col--sidebar {
    flex: 0 0 29.1666666667%;
    max-width: 29.1666666667%;
  }
}

@media (min-width: 992px) {
  .u-col--main {
    flex: 0 0 70.8333333333%;
    max-width: 70.8333333333%;
  }
}

.u-col--categories {
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .u-col--categories {
    margin-bottom: 0;
    flex: 0 0 19.1666666667%;
    max-width: 19.1666666667%;
  }
}

@media (min-width: 992px) {
  .u-col--header {
    flex: 0 0 80.8333333333%;
    max-width: 80.8333333333%;
  }
}

.u-mt-10 {
  margin-top: 10px !important;
}

.u-mt-20 {
  margin-top: 20px !important;
}

.u-mt-30 {
  margin-top: 30px !important;
}

.u-mt-40 {
  margin-top: 40px !important;
}

.u-mb-10 {
  margin-bottom: 10px !important;
}

.u-mb-20 {
  margin-bottom: 20px !important;
}

.u-mb-30 {
  margin-bottom: 30px !important;
}

.u-mb-40 {
  margin-bottom: 40px !important;
}

.u-my-30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.u-my-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.u-ml-10 {
  margin-left: 10px !important;
}

.u-mr-20 {
  margin-right: 20px !important;
}

/*# sourceMappingURL=main.css.map */
