.c-input {
    height: 50px;
    font-size: 14px;
    border-color: #eae7e7;
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

    @include on-event(){
        border-color: $color-violet;
        outline: none;
    }

    &__dropdown {
        position: absolute;
        top: calc(100%);
        left: 0;
        width: 250px;
        height: 170px;
        overflow: auto;
        padding: 10px 5px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba($black, 0.2);
        z-index: 999;
        background: $white;
        display: none;
    
       &.is-active {
         display: block;
       }
      }
    
      &__dropdown-item {
        color: $black;
        font-size: 16px;
        letter-spacing: 0;
        padding: 5px 20px;
        margin-bottom: 5px;
        cursor: pointer;
        border-bottom: 1px solid $color-light;
        &:last-child{
            border-bottom: none;
        }
      }
}