.o-contact {
    padding: {
        top: 80px;
        bottom: 80px;
    }

    background: $white;

    &__container {
        @include make-container();
        @include make-container-max-widths();
    }

    &__row {
        @include make-row();
    }

    &__col {
        @include make-col-ready();

        @include media-breakpoint-up(lg) {
            &--left {
                @include make-col(5)
            }

            &--right {
                @include make-col(7)
            }
        }
    }

    &__content {
        text-align: center;
        margin-bottom: 70px;
    }

    &__section-title {
        font-size: 14px;
        letter-spacing: 4px;
        color: $color-violet;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 16px;
    }

    &__title {
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 16px;
    }

    &__description {
        font-size: 15px;
        line-height: 1.6;
        box-shadow: 0 0 35px rgba(112, 112, 112, 0.1);
        border-radius: 16px;
        background-color: $color-blue;
        margin-bottom: 20px;
        padding: 48px;
        padding-top: 25px;
        color: $white;

        @include media-breakpoint-up(lg) {
            margin-top: 120px;
        }
    }

    &__description-text {
        margin-bottom: 15px;
    }

    &__form {
        box-shadow: 0 0 35px rgba(112, 112, 112, 0.1);
        border-radius: 16px;
        background-color: #ffffff;
        padding: 48px;

        .c-input,
        .c-checkbox {
            margin-bottom: 15px;
        }
    }

    &__form-title {
        color: $color-violet;
        letter-spacing: 1.5px;
        font-weight: $font-weight-bold;
        margin-bottom: 20px;
        margin-top: 30px;

        &:first-child {
            margin-top: 0;
        }
    }

    &__form-sub {
        font-size: 14px;
        color: $color-grey;
    }

    &__form-image {
        max-width: 100px;
        height: auto;
        margin: 10px 0;
    }

    &__form-submit {
        padding: 13px 32px;
        font-size: 14px;
        transition: all 0.5s;
        letter-spacing: 0.6px;
        color: #fff;
        box-shadow: none !important;
        text-transform: capitalize;
        outline: none !important;
        border: 1px solid $color-violet;
        background-color: $color-violet;
        font-weight: 700;
        border-radius: 4px;
        cursor: pointer;
        letter-spacing: 1px;
    }

    &__soicals {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__social svg {
        width: 30px;
        height: 30px;
        margin-right: 8px;

        path {
            fill: $white !important;
        }
    }

    #Mesage {
        height: 110px;
    }
}